@import './config.scss';
@import './content.scss';
@import './responsive.scss';
@import './loader.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
cursor: default;
background: $forth;
box-shadow: inset 0px 0px 10px black;
border-radius: 10px;
overflow-x: hidden;
}
