$main: #0F044C;
$secondary: #141E61;
$third: #787A91;
$forth: #EEEEEE;

$font-weights: ("regular": 500, "medium": 700, "bold": 900);

$main-font: 'Nunito', sans-serif;
$secondary-font: 'Trocchi', serif;
$third-font: 'Nunito Sans', sans-serif;

@mixin test-border{
    border: 3px solid red;
}

@mixin transition-ease{
    transition: all 0.5s ease-in-out;
}
@mixin display-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin media-md{
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin media-lg{
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin media-xl{
    @media screen and (min-width: 1600px){
        @content;
    }
}
