@include media-md{
    .easy1{
        top: 5rem;
        left: 10rem;
    }
    .easy2{
        top: 7.8rem;
        left: 10.4rem;
        width: 16.8%;
    }
    .hard1{
        top: 5rem;
        right: 10rem;
    }
    .hard2{
        top: 7.8rem;
        right: 10.4rem;
        width: 16.8%;
    }
    .App{

        &-title{

            & h1{
                font-size: 4rem;
            }
            & .icon{
                font-size: 8rem;
            }
        }

        &-description{
            width: 70%;
            font-size: 1.5rem;
        }

        &-generate{
            width: 70%;
            max-width: 33rem;

            & .generator{
                width: 10rem;
                height: 10rem;

                & button{
                    width: 7rem;
                }
            }
        }

        &-download{
            width: 10rem;
            height: 2.5rem;
        }
    }
}

@include media-lg{
    .easy1{
        top: 6rem;
        left: 12rem;
    }
    .easy2{
        top: 10.3rem;
        left: 11.7rem;
        width: 21%;
    }
    .hard1{
        top: 6rem;
        right: 12rem;
    }
    .hard2{
        top: 10.3rem;
        right: 11.7rem;
        width: 21%;
    }
    .App{

        &-generate{
            max-width: 40rem;
            height: 17rem;

            & .generator{
                width: 12rem;
                height: 12rem;

            }
        }
    }
}

@include media-xl{
    .easy1{
        top: 6rem;
        left: 12rem;
        width: 15%;
    }
    .easy2{
        top: 12rem;
        left: 13.5rem;
        width: 24%;
    }
    .hard1{
        top: 6rem;
        right: 12rem;
        width: 15%;
    }
    .hard2{
        top: 12rem;
        right: 13.5rem;
        width: 24%;
    }
    .App{

        &-title{
            
            & h1{
                font-size: 6rem;
            }
        }

        &-description{
            margin-top: 5%;
            width: 60%;
            font-size: 2rem;
        }

        &-generate{
            width: 50%;
            height: 22rem;
            max-width: 50rem;

            &_password{
                width: 20rem;
                height: 4rem;
                font-size: 2rem;
            }
        }

        &-download{
            width: 16rem;
            height: 4rem;
            border-radius: 40px;
            font-size: 2.5rem;
        }
    }
}